.full-body-font {
    font-family: 'Poppins', sans-serif;margin: 0;
    
}

.first-div {

    background-image: url(images/donation1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}


.big-text {
    color: white;
    text-align: center;
    font-size: 50px;
    }

.para {
    color: white;
    text-align: center;
    width: 500px;
    margin-left: 30%;
}

.button {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-left: 41%;
    text-decoration: none;
    background-image: linear-gradient(red, tomato);
    padding: 15px;
    border-radius: 10px;
}

.secound-div {
    padding: 20px;
}

.vol{
    color: orangered;
    text-align: center;
    font-size: 50px;
    padding: 20px;
    
}

.big-text2 {
    text-align: center;
    font-size: 60px;
}

.para2 {

    color: gray;
    text-align: center;
    width: 500px;
    margin-left: 30%;

}

.tk{
    display: flex;
    justify-content: center;
}
.tk div{
    padding: 40px;
    margin: 10px;
    border-radius: 5px;
    background: rgb(247,244,244);
}

.tk .active{
    border: 1px solid #e67171;
    color: #e67171;
}

.mark {
    
    display: inline-block;
    background-color: #e67171;
    font-size: 15px;
    font-weight: 700;
    border-radius: 15px;
    width: 250px;
    height: 150px;
    box-shadow: 10px 10px 40px gray;
}

.amount {

    margin-left: 42%;
    padding: 20px;
    border-width: 0 0 0 0;
}

.plan {
    text-align: center;
    padding: 20px;
    margin-top: 150px;
    font-size: 60px;
}

.plan-detail {
    display: flex;
}

.help {
    background-color: antiquewhite;
    width: 25%;
    height: 380px;
    margin-left: 100px;
    border-radius: 10px;
}

.help2 {
    background-color: mediumaquamarine;
    width: 25%;
    height: 380px;
    margin-left: 100px;
    border-radius: 10px;
}

.help3 {
    background-color: olivedrab;
    width: 25%;
    height: 380px;
    margin-left: 100px;
    border-radius: 10px;
}

.s1{

    
    background-color: #e4b195;
    padding: 50px;
    margin-left: 50px;
    margin-right: 50px;

}
.form{
    text-align: center;
    
}

.icon {
    margin-top: 50px;
    margin-left: 25px;
}

.headline {
    margin-top: 30px;
    margin-left: 25px;
}

.info {

    margin-top: 5px;
    margin-left: 25px;
}


.line{
    margin-left: 200px;
    margin-right: 200px;
}

.mail{
    background-color: #cac8c8;
    margin-left: 150px;
    padding: 15px;
    width: 300px;
    border-width: 0 0 0 0;
}

.button2{
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin-left: -1%;
    text-decoration: none;
    background-image: linear-gradient(red, tomato);
    padding: 12px;
    
}

.mail_button{
    background-color: #eed8d1;
    padding: 80px;
    margin-left: 250px;
    margin-right: 250px;
}

.f-button {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-left: 1%;
    border-width: 0 0 0 0;
    text-decoration: none;
    background-color:#90EE90;
    padding: 15px;
    border-radius: 10px;
}

.big-foot{
    color: orangered;
}


.foot{
    text-align: center;
    padding-top: 50px;
    margin-top: 300px;
    color: white;
    background-color: #1b1a1a;
    height: 200px;
}

